
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkında Oluşturma Sayfası</h2>

<form method="post">
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>ImageURL</label>
    <input type="text" class="form-control" name="ImageURL" />
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />
    <label>Description2</label>
    <input type="text" class="form-control" name="Description2" />
    <label>Birthday</label>
    <input type="text" class="form-control" name="Birthday" />
    <label>Website</label>
    <input type="text" class="form-control" name="Website" />
    <label>Phone</label>
    <input type="text" class="form-control" name="Phone" />
    <label>Age</label>
    <input type="text" class="form-control" name="Age" />
    <label>City</label>
    <input type="text" class="form-control" name="City" />
    <label>Degree</label>
    <input type="text" class="form-control" name="Degree" />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <label>Freelance</label>
    <input type="text" class="form-control" name="Freelance" />
    <button class="btn btn-success">Ekle</button>
</form>