
@{
    ViewBag.Title = "CreateSkills";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Oluşturma Sayfası</h2>


<form method="post">
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>SkillsName</label>
    <input type="text" class="form-control" name="SkillsName" />
    <label>Derece</label>
    <input type="text" class="form-control" name="Derece" />
    <button class="btn btn-success">Ekle</button>
</form>