
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Oluşturma Sayfası</h2>

<form method="post">
    <label>ProjectName</label>
    <input type="text" class="form-control" name="ProjectName" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>ProjectLink</label>
    <input type="text" class="form-control" name="ProjectLink" />
    <label>Image1</label>
    <input type="text" class="form-control" name="Image1" />
    <label>Image2</label>
    <input type="text" class="form-control" name="Image2" />
    <label>Image3</label>
    <input type="text" class="form-control" name="Image3" />
    <button class="btn btn-success">Ekle</button>
</form>