
@{
    ViewBag.Title = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Mesaj Oluşturma Sayfası</h2>
<form method="post">
    <label>NameSurname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <label>Subject</label>
    <input type="text" class="form-control" name="Subject" />
    <label>Massage</label>
    <input type="text" class="form-control" name="Massage" />
    <button class="btn btn-success">Ekle</button>
</form>
