
@{
    ViewBag.Title = "CreatTestimonials";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Oluşturma Sayfası</h2>



<form method="post">
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>TestimonialsName</label>
    <input type="text" class="form-control" name="TestimonialsName" />
    <label>Description2</label>
    <input type="text" class="form-control" name="Description2" />
    <label>ImageURL</label>
    <input type="text" class="form-control" name="ImageURL" />
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />
    <label>ImageURL</label>
    <input type="text" class="form-control" name="ImageURL" />
    <label>ImageURL</label>
    <input type="text" class="form-control" name="ImageURL" />
    <button class="btn btn-success">Ekle</button>
</form>