
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitim Oluşturma Sayfası</h2>

<form method="post">
    <label>StartYear</label>
    <input type="text" class="form-control" name="StartYear" />
    <label>EdnYear</label>
    <input type="text" class="form-control" name="EdnYear" />
    <label>Name</label>
    <input type="text" class="form-control" name="Name" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Section</label>
    <input type="text" class="form-control" name="Section" />
    <button class="btn btn-success">Ekle</button>
</form>