@model AcunMedyaPortfolyo.Models.Tbl_Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x=>x.CategoryID) <br />
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x=>x.CategoryName) <br /> <br />
    <button>Güncelle</button>
</form>
