
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Slider Oluşturma Sayfası</h2>


<form method="post">
    <label>NameSurname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>ImageURL</label>
    <input type="text" class="form-control" name="ImageURL" />
    <button class="btn btn-success">Ekle</button>
</form> 